.carousel {
  position: relative;
  width: 100%;
  height: calc(100vh - 170px);
  min-height: 400px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
}

.carousel .carousel-inner,
.carousel .carousel-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .carousel-item::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
}

.carousel-caption {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 170px);
  min-height: 400px;
}

.carousel .carousel-caption p {
  color: #e0b234;
  font-size: 30px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  text-shadow: 1px -1px 0px #092348, 
               2px -2px 0px black , 
               3px 1px 0px #b0daf2;
  color: #2b7bb0;
}

.carousel .carousel-caption h1 {
  color: #b0daf2;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 35px;
  text-shadow: 3px 3px 0px #2b7bb0, 
               6px 6px 0px #092348 , 
               9px 9px 0px black;
               
                 
}

@media screen and (max-width: 600px){

  .carrouselcontainer{
    margin-top: 70px;
  }


}



