.footerbox{
    
    position: relative;
    margin-top: 45px;
    padding-top: 5px;
    background: linear-gradient(45deg, #b0daf2  0% , #030f27 40%);
    color: #ffffff;
    display: flex;
    align-content: center;
    justify-content: space-around;
}

.infowrap{
    display: flex;
}

.datawrap{
    display: grid;
    justify-items: center;
    margin: 8px 20px;
    padding: 50px 0;
}

.ftext{
    margin-top: 10px;
}

.contactwrap{
    position: relative;
    display: grid;
    justify-items: flex-end;


}

.ctitulo{
    color: #fdbe33;
}

.datacwrap{
    display: flex;
    justify-items: center;
}

.fa-business-time{
    font-size: 20px;
    padding-top: 5px;
    margin-right: 10px;
}

.fa-mobile-screen-button{
    font-size: 20px;
    padding-top: 5px;
    margin-right: 10px;
}

.fa-envelopes-bulk{
    font-size: 20px;
    padding-top: 5px;
    margin-right: 10px;
}

.fa-map{
    font-size: 20px;
    padding-top: 5px;
    margin-right: 10px;
}

.fa-phone-flip{
    font-size: 20px;
    padding-top: 5px;
    margin-right: 10px;
}

.fa-envelope-open-text{
    font-size: 20px;
    padding-top: 5px;
    margin-right: 10px;
}

.fctext{
    font-size: 20px;
    text-shadow: 0 0 8px #030f27,
        0 0 16px #030f27,
        0 0 32px #030f27,
        0 0 32px #030f27,
        0 0 50px #030f27;
}

.copyfooter{
    justify-items: flex-start;
    display: flex;
    padding: 10px;
    background: linear-gradient(90deg, #b0daf2  0% , #030f27 40%);
    color:#030f27;
    font-size: 20px;
}





@media screen and (max-width: 960px){
    .footerbox{
    
        position: relative;
        color: #ffffff;
        display: grid;
        align-content: center;
        justify-content: center;
    }

}