.navcontainer{
    display: flex;
    width: 100%;
    flex-direction: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: fixed;
    z-index: 1;
    transition: 0.1s all ease;
}

.navbaritems{
    background: rgba(3,15,39,0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    z-index: 1;
    width: 1800px;
    padding: 0 50px;
    transition: 0.2s all ease-in-out;  
}
.navbaritems.active{
    background: #030f27;
    height: 70px;
    justify-content: center;
    transition: 0.2s all ease-in-out;
}

.navbarlogo{
    transition: 0.3s all ease-in-out;
    display: contents;
    color: #fdbe33;
    font-size: 50px;
    cursor:pointer;
    padding: 15px 0;
}

.navbarlogo.active{
    display: none;
    transition: 0.3s all ease-in-out;
}

.navitemhome{
    display:none;
}

.navitemhome.active{
    display:block;
}

.navmenu{
    display: flex;
    text-align: center;
    font-size: 1.2rem;
    height: 40px;
    padding: 20px;
    width: 1140x;
    justify-content: space-around;
    transition: 0.3s all ease-in-out; 
}



.nav-links{
    color:#fdbe33;
    text-decoration: none;
    padding: 3px 10px;
    cursor:pointer;
}
.nav-links.active{
    margin: 0 20px;
}


.nav-links:hover{
    transition: 0.1s all ease-in-out;
    transform: scale(1.02);
    opacity: 0.6;
}

.nav-links.active:hover{
    border-bottom-style:solid;
    transition: 0.1s all ease-in-out;
    transform: scale(1.02);
    opacity: 1;
    
}

.menuicon{
    display: none;
}

.fa-bars{
    color: #fdbe33;
    padding: 30px;
}

.fa-times{
    color: #fdbe33;
    z-index: 55;
    padding: 30px;
}

@media screen and (max-width: 960px){
    .navcontainer{
        height: 70px;
    }   

    .navbaritems{
        background: #030f27;
        height: 70px;
        justify-content: flex-end;
        display: flex;
        align-items: center; 
        z-index: 1;
        width: 100%;
        padding: 0 50px;
        max-width: 1800px;
    }

    .navbaritems.active{
        background: #030f27;
        height: 70px;
        justify-content: flex-end;
        display: flex;
        align-items: center; 
        z-index: 1;
        width: 100%;
        padding: 0 50px;
        max-width: 1800px;
    }

    .navbarlogo{
       display: none;
    }
  
    .menuicon{
        display:block;
        right: 0;

        font-size: 1.8rem;
        cursor: pointer;
    }

    .navitemhome.active{
        display: none;
    }

    .navmenu{
        display: none;
    }

    .navmenu.active{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 420px;
   }



    .nav-links{
        background: #030f27;
        text-align: center;
        padding: 2rem 7.5rem;
        width: 100%;
        display: grid;
        margin-left: -77px;
    }
 
    .nav-links.active{
        background: #030f27;
        text-align: center;
        padding: 2rem 7.5rem;
        width: 100%;
        display: grid;
        margin-left: -77px;
    }

    .nav-links:hover{
        border-bottom-style:solid;
        transition: 0.1s all ease-in-out;
        transform: scale(1.02);
        opacity: 1;
    }
    
    .nav-links.active:hover{
        border-bottom-style:solid;
        transition: 0.1s all ease-in-out;
        transform: scale(1.02);
        opacity: 1;
        
    }
    


    

}