
.navwrap{
    background: transparent;
    display: flex;
    justify-content: center;   
}

.nosotroswrap{
    padding: 45px 1px;
    display:flex;
    align-content: center;
    justify-content: center;
    padding: 25px 0 25px 0;
}

.imgwrap{
    margin: 20px;
}

.nosimg{
    width: 450px;
    height: auto;


}

.aboutwrap{
    display: grid;
    margin: 20px;
    width: 450px;
}

.aboutheader{
    color:#FDE74C;
    font-size: 20px;
    
}

.abouttitle{
    font-size: 40px;
    color: rgb(9 35 72);

}

.abouttext{
    color:#010606;
    font-size: 15px;
}





@media screen and (max-width: 960px){

 .nosotroswrap{
    display: grid;
    align-content: center;
    justify-items: center;
    margin-right: auto;
    margin-left: auto;
 }

}