.contenedor-servicios{
  width: 1100px;
  background-color: transparent;
  margin:auto;;
}

.fila{
  display: flex;
  flex-direction: row;
  flex: 1 1;
}
.servicios-titulo{
  color: #b0daf2;
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

@media screen and (max-width: 600px){
  .contenedor-servicios{
  width: 100%;
  }

  .fila{
    flex-direction: column;
    align-items: center;
  }

}